.switch-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.645);

}

// SWITCH


.switch-form {
    background-color: #fff;
    width: 440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;


    .switch-header {
        height: 42px;
        display: flex;
        position: relative;
        // grid-template-columns: 1fr 34px;
        justify-content: center;
        align-items: center;

        span {
            font-size: 16px;
            font-weight: 600;
        }

        a {
            width: 34px;
            padding: 8px;
            position: absolute;
            right: 0;
            cursor: pointer;
        }

    }

    .switch-users {
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        overflow-y: auto;
        max-height: 400px;
    }

    .switch-user {

        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background-color: rgba(246, 246, 246, 0.66);
        }

        img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            object-fit: cover;
        }

        div {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .check {
            width: 24px;
            height: 24px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            background-color: #0095f6;
            border-radius: 50%;
            display: flex;

            i {
                margin: auto;
            }
        }
    }

    .switch-footer {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-size: 14px;
            font-weight: 600;
            color: #0095f6;
            cursor: pointer;

            &:hover {
                color: #00376b;
            }
        }
    }


    // LOGIN

}

.login-form {
    width: 400px;
    height: 211px;
    background-color: #fff;
    border-radius: 10px;

    header {
        margin-top: 12px;
        height: 34px;
        position: relative;

        a {
            padding: 8px;
            position: absolute;
            right: 12px;
            cursor: pointer;
        }
    }

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;


        .logo {
            margin: 36px 0 12px 0;

            img {
                width: 175px;
                height: 61px;
            }
        }

        .login-form {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            padding: 0 50px;
            gap: 5px;

            input {
                height: 38px;
                border: 1px solid #dbdbdb;
                background-color: #fafafa;
            }

            button {
                background-color: #0095f6;
                color: white;
                border-radius: 5px;
                font-weight: 600;
                font-size: 14px;
                border: none;
                padding: 7px 16px;
                height: 32px;
                margin-top: 30px;
                cursor: pointer;

            }
        }
    }
}