.messages-page {
    background-color: #fafafa;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .message-container {
        background-color: rgb(255, 255, 255);
        max-width: 933px;
        height: 95vh;
        border: 1px solid #dbdbdb;
        display: flex;
        justify-content: space-between;

        header {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 309px;
            height: 60px;
            border-bottom: 1px solid #dbdbdb;
            border-right: 1px solid #dbdbdb;

            a {
                cursor: pointer;
                position: absolute;
                right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            span {
                font-size: 16px;
                font-weight: 600;
            }
        }

    }

    .message-users {
        height: 86vh;
    }

    .users-container {
        height: 100%;
        overflow-y: auto;

        .user-info {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px 20px;
            cursor: pointer;

            &:hover {
                background-color: rgb(249, 249, 249);
            }

            &.active {
                background-color: rgb(242, 242, 242);
            }

            img {
                width: 56px;
                height: 56px;
                object-fit: cover;
                border-radius: 50%;
            }

            section {
                font-size: 14px;
                font-weight: 400;
            }

            .new {
                font-size: 14px;
                font-weight: 600;

                .message {
                    // display: flex;
                    // gap: 5px;
                    color: #000000;
                }

                .time {
                    font-weight: 400;
                    color: #8e8e8e;
                }

            }

            .message {
                display: flex;
                gap: 5px;
                color: #8e8e8e;

                .time {
                    font-weight: 400;
                }
            }

        }
    }

    .messanger-container {
        width: 543px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 100%;

        header {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-right: none;
            padding: 20px;

            .user-info {
                display: flex;
                align-items: center;
                padding-left: 10px;
                gap: 10px;
                font-size: 16px;
                font-weight: 600;
                color: #262626;

                img {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }

            .msg-btns {
                display: flex;
                align-items: center;
                gap: 16px;
            }

        }

        .messages-list {
            height: 100%;
            overflow-y: auto;

            .user-message {
                padding: 10px;
                min-height: 54px;
                display: flex;
                gap: 5px;
                justify-content: flex-start;
                align-items: flex-end;
                
                
                img {
                    width: 24px;
                    height: 24px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                
                span {
                    max-width: 50%;
                    padding: 12px;
                    font-size: 14px;
                    border: 1px solid #dbdbdb;
                    border-radius: 30px;
                }
            }

            .logged-user {
                justify-content: flex-end;
                span {
                    background-color: #efefef;
                }

            }
        }

        .input-section{
            font-size: 14px;
            border: 1px solid #dbdbdb;
            border-radius: 40px;
            margin: 10px;
            width: auto;
        }

    }

}