.profile-container {
    height: 100vh;
    padding: 30px 20px;
    // margin: 0 50px;
    margin: 0 170px;

}

.content-container{
    // background-color: rgb(239, 244, 244);
        border-top: 1px solid #c4c4c4;
        // margin: auto;

    
}

.profile-header {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-left: 50px;
    margin-bottom: 44px;



    .profile-photo {
        padding: 0 15px;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    button {
        width: 105px;
        height: 32px;
        border: none;
        background: #efefef;
        font-size: 14px;
        font-weight: 600;
        border-radius: 7px;
        cursor: pointer;

        &:hover {
            background: #bcbcbc;
        }
    }

    .profile-info {
        display: flex;
        gap: 15px;
        flex-direction: column;
        width: 100%;
        font-family: 'Segoe UI';
        font-size: 16px;
        padding-right: 50px;
        // align-items: center;



        .profile-info-header {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .user-info {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            .user-number {
                font-weight: 600;
            }
        }

        .user-bio {
            display: flex;
            flex-direction: column;

            .user-name {
                font-weight: 600;
            }


        }
    }
}

.profile-links {

    // padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;
    // border-top: 1px solid #c4c4c4;

    .profile-pics-link {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0;
        line-height: 18px;
        letter-spacing: 2px;
        color: #c4c4c4;
        cursor: pointer;

    }

    .active {
        color: black;
        border-top: 1px solid black;
    }
}

.profile-stories {
    flex-wrap: wrap;
    padding-bottom: 50px;
    // padding: 0 1px;
    // margin: 0 auto;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 961px;
    // width: 100vh;

    img {
        width: 307px;
        height: 307px;
        object-fit: cover;
    }
}

////MOBILE
@include for-mobile-layout {
    .profile-header {
        
        margin-bottom: 16px;
        padding: 16px 0;
        margin-left: 0;

        .profile-photo img {
            width: 77px;
            height: 77px;
        }

    }

    .profile-container {
        padding: 0;
        margin: 0;
    }

    .profile-header .profile-info .profile-info-header {
        display: none;
    }

    .profile-info {
        padding: 0 10px;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
        }
    }

    .profile-stories {
        flex-wrap: wrap;
        padding-bottom: 50px;
        margin: 0 auto;
        gap: 2px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100vw;

        img {

            object-fit: cover;
            width: 33vw;
            height: 33vw;
        }
    }

    .bio {
        display: none;
    }


}

///////// normal //////
@include for-narrow-layout {}


///////// Wide //////////
@include for-wide-layout {}