.side-bar {

    .nav-btn {
        position: relative;
        // display: flex;

        .new-msg {
            width: 10px;
            height: 10px;
            border: 1px solid #fafafa;
            background-color: rgb(255, 48, 48);
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 28px;
        }
    }

    .nav-icon {
        display: flex;
    }

    nav {
        gap: 10px
    }

    ;
}

@include for-mobile-layout {

    .test {
        width: 100%;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-bottom: 0.1px solid rgb(219, 219, 219);
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        // top: 0px
        a {
            height: 35px;
        }

        img {
            width: 113px;
            height: 35px;
        }

        .nav-icon {
            font-size: 22px;
        }

        .nav-header-btns {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;

            .nav-btn {
                padding: 5px;
                font-size: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .side-bar {
        background-color: rgb(255, 255, 255);
        height: 50px;
        width: 100%;
        display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: row;
        position: fixed;
        // top: 93.9vh;
        bottom: 0;
        z-index: 2;
        border-top: 1px solid rgb(219, 219, 219);
        ;


        .nav-btn {
            padding: 5px;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-name {
            display: none;
        }

        // img{
        //     display: none;
        // }

        .nav-btn {
            width: 30px;

            &.mobile {
                display: none;
            }
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100vw;
        }

        .nav-more {
            display: none;
        }

        .side-bar-more {
            display: none;
        }

        .icon {
            width: 0;
            display: none;
        }

        img {
            width: 50px;
        }

        .nav-btn {
            color: #262626;
            width: 30px;
            // margin-top: 4px;
            // margin-bottom: 4px;
            // border-radius: 25px;
            font-family: 'Segoe UI', sans-serif;
            text-decoration: none;
            display: flex;
            // gap: 10px;
            align-items: center;
            cursor: pointer;

            .nav-icon {
                font-size: 22px;
                width: 30px;
                position: relative;

                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            span {
                font-size: 16px;
            }

            &.active {
                color: black;
                font-weight: 700;
            }

            &:hover {
                background-color: #fafafa;
            }

        }


    }

}

///////// normal //////
@include for-narrow-layout {

    .test {
        display: none;
    }

    .side-bar {
        transition: 0.6s;
        padding: 0.615rem 0.92rem 1.54rem;
        display: grid;
        position: fixed;
        font-size: 16px;
        grid-template-rows: 80px 1fr 10px;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 245px;
        border-right: 1px solid rgb(219, 219, 219);
        z-index: 10;

        &.mini {
            width: 74px;
            transition: 0.6s;

            nav {
                width: 48px;
            }

            .nav-name {
                display: none;
            }

            .side-bar-more {
                span {
                    display: none;
                }
            }

            .nav-btn {
                width: 48px;
                padding: 12px;
            }

            .nav-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 4px 0;

            }

            // padding: 12px 8px 12px 20px;
        }


        .icon {
            padding: 25px 12px 16px;
            width: 220px;
            height: 50px;
            margin-bottom: 20px;
        }

        img {
            width: 130px;
        }

        nav {
            display: flex;
            flex-direction: column;
        }


        .nav-btn {
            color: #262626;
            padding: 12px 12px;
            width: 220px;
            margin-top: 4px;
            margin-bottom: 4px;
            border-radius: 25px;
            font-family: 'Segoe UI', sans-serif;
            text-decoration: none;
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: pointer;

            .nav-icon {
                font-size: 22px;
                width: 30px;
                position: relative;

                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            span {
                font-size: 16px;
            }

            &.active {
                color: black;
                font-weight: 700;
            }

            &:hover {
                background-color: #fafafa;
            }

        }

        .side-bar-more {
            padding: 0 15px;
            display: flex;
            gap: 10px;
            align-items: center;
            border-radius: 25px;
            font-family: 'Segoe UI', sans-serif;
            cursor: pointer;

            i {
                font-size: 22px;
                width: 30px;
            }

            span {
                font-size: 16px;
            }

        }

    }

    .nav-more {

        display: none;
        position: absolute;
        bottom: 75px;
        left: 15px;
        width: 238px;
        box-shadow: 1px 0px 8px -5px black;

        &.open {
            display: flex;
            flex-direction: column;
        }

        .nav-more-btn {
            height: 44px;
            text-decoration: none;
            color: #262626;
            padding: 8px 16px;
            border-top: 0.1px solid rgb(219, 219, 219);
            background-color: #fff;
        }
    }

}



/////// wide ///////
@include for-wide-layout {
    .side-bar {
        padding: 0.615rem 0.92rem 1.54rem;
        display: grid;
        position: fixed;
        font-size: 16px;
        grid-template-rows: 80px 1fr 10px;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        width: 245px;
        border-right: 1px solid rgb(219, 219, 219);
        z-index: 11;

        &.mini {
            width: 74px;
            transition: 0.6s;

            nav {
                width: 48px;
            }

            .nav-name {
                display: none;
            }

            .side-bar-more {
                span {
                    display: none;
                }
            }

            .nav-btn {
                width: 48px;
                padding: 12px;
            }

            .nav-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 4px 0;

            }

            // padding: 12px 8px 12px 20px;
        }
    }

}