.story-preview {
    display: flex;
    flex-direction: column;
    border-bottom: 0.01px solid #c2c2c2;

    .story-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        background-color: #fff;

        .header-info {
            display: flex;
            align-items: center;

            img {
                width: 42px;
                height: 42px;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
            }

            a {
                font-weight: 600;
                font-size: 14px;
                padding: 0 5px;
                cursor: pointer;
            }
        }

        svg {
            color: #c2c2c2;
            fill: #c2c2c2;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                color: rgb(38, 38, 38);
                fill: rgb(38, 38, 38);
            }
        }
    }

    .time {
        color: #8e8e8e;
        font-size: 14px;

        span {
            padding-right: 5px;
        }
    }

    .story-img {
        // max-height: 400px;
        max-height: 580;
        object-fit: cover;
    }

    .story-footer {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding-bottom: 20px;
        font-size: 15px;
        gap: 7px;
        margin-bottom: 10px;

        //mobile input display none?
        form {
            padding: 4px 0;
        }

        input {
            border: none;
            font-size: 14px;

            &:focus {
                outline: none;
            }
        }

        section {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        img {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            object-fit: cover;
        }

    }

    .btn-container {
        display: flex;
        gap: 13px;
        position: relative;

        a {
            font-size: 24px;
            padding: 5px 0px;
            cursor: pointer;
            color: black;

            .fa-solid.fa-heart {
                color: #ed4956;
            }
        }

        .saved-btn {
            position: absolute;
            right: 0;
        }
    }

    .link {
        text-decoration: none;

    }

    .story-likes {
        font-weight: 600;
        cursor: pointer;
    }

    .story-user-name {
        font-weight: 600;
        cursor: pointer;
        color: black;

    }

    .story-text {
        padding-bottom: 10px;
    }

    .story-comments-view {
        color: #8e8e8e;
        cursor: pointer;
    }

    .hide {
        display: none;
    }

    .slick-slider {


        .slick-prev {
            z-index: 10;
            left: 10px;
            opacity: 0.4;
        }

        .slick-next {
            z-index: 10;
            right: 10px;
            opacity: 0.4;

        }

        .slick-dots {
            bottom: 10px;
        }

        .slick-dots li button:before {
            color: white;
        }

        .slick-list {
            margin-bottom: -5px;
        }

        .slick-dots li {
            margin: 0;
        }
    }
}


///////// mobile//////
@include for-mobile-layout {

    .story-header {
        margin-top: 10px;
        padding: 0 6px;
        height: 48px;
    }

    .story-img {
        max-height: 400px;
    }

    .story-footer {
        padding: 0 16px;
    }

    input {
        display: none;
    }
}

///////// normal //////
@include for-narrow-layout {}


///////// Wide //////////
@include for-wide-layout {}