.story-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.645);

    .picker-container {
        position: absolute;
        top: 200px;
        right: 100px;
    }

    .EmojiPickerReact {

        width: 300px;
        // margin-left: 30vw;
    }
}



.emoji-icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 5px;
}

.input-style {
    padding: 7px 30px 7px 10px;
    width: calc(100% - 40px);
    border-radius: 3px;
    border: 1px solid #999;
    margin-bottom: 10px;
}

.story-container {
    display: flex;
    max-width: 1000px;

    .image {

        width: 500px;
        height: 650px;
        // object-fit: cover;

        img {
            width: 500px;
            height: 650px;
            object-fit: cover;
        }
    }

    .slick-slider {


        .slick-prev {
            z-index: 10;
            left: 10px;
            opacity: 0.4;
            
        }

        .slick-next {
            z-index: 10;
            right: 10px;
            opacity: 0.4;

        }

        .slick-dots {
            bottom: 10px;
        }

        .slick-dots li button:before {
            color: white;
        }

        .slick-list {
            margin-bottom: -5px;
        }
        .slick-dots li {
            margin: 0;
        }
    }

}

.details-comment {
    background-color: #ffffff;
    width: 500px;
    height: 650px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;

    img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .details-username {
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

    .details-header {
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding: 14px;
        border-bottom: 1px solid rgb(219, 219, 219);

        div {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        button {
            border: none;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0);
        }
    }
}

.comments-container {

    display: grid;
    grid-template-rows: 428px 110px;



    .comments-list {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 34px;
        overflow: auto;
        // border-bottom: 1px solid rgb(219, 219, 219);
    }

    .comment {
        display: grid;
        grid-template-columns: 50px 1fr;

        .comment-footer {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .time {
            font-size: 12px;
            color: #a3a3a3;
        }

        svg {
            cursor: pointer;
            color: #a3a3a3;
            fill: #a3a3a3;

            &:hover {
                color: #454545;
                fill: #454545;
            }
        }

    }

    .footer-container {


        .btn-container {
            border-top: 1px solid rgb(219, 219, 219);
            display: flex;
            padding: 6px 16px;
            gap: 15px;

            a {
                font-size: 24px;
                cursor: pointer;
                color: black;
            }

            .fa-solid.fa-heart{
                color: #ed4956;
            }
            .saved-btn{
                margin-left: auto;
            }
        }

        .likes-time {
            padding: 5px 15px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            a {
                font-weight: 600;
                cursor: pointer;
                font-size: 14px;
            }

            span {
                font-size: 10px;
                color: #8e8e8e;
            }
        }
    }



}

.input-section {
    border-top: 1px solid rgb(219, 219, 219);
    padding: 0 8px;
    height: 52px;
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;

    span {
        font-size: 24px;
        cursor: pointer;
        color: black;
        margin: auto;

    }

    .msg-input {
        border: none;
        width: 95%;

        &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0);

        }
    }

    a {
        font-weight: 600;
        color: #b5dbff;

    }

    .active {
        cursor: pointer;
        color: #0084ff;

        &:hover {
            color: #00488a;
        }
    }

}



////MOBILE
@include for-mobile-layout {
    .story-container {
        display: flex;
        // position: fixed;
        width: 100%;
        height: 100vh;

        .image {
            display: none;
        }
    }

    .comments-container {
        display: grid;
        grid-template-rows: none;
    }

    .details-comment {
        background-color: #ffffff;
        width: 500px;
        height: 100vh;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-container {
        display: none;
    }

}

///////// normal //////
@include for-narrow-layout {}


///////// Wide //////////
@include for-wide-layout {}