.app-container{
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'bar' 'app';

    .side-bar{
        grid-area: 'bar'
    }
    
    .app-content{
        grid-area: 'app'
    }
}