.contant-container {
    width: 100%;
    margin-left: 250px;
    background-color: #fafafa;
}

.contant {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
    padding: 30px 0;

    .stories-list {

        margin: 0 auto;

        .story-img {
            width: 450px;
            height: 450px;
        }

        .story-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            margin: 0 auto;
            gap: 50px;
        }

        .story {
            width: 450px;
        }

    }
}

// SUGGESTIONS
.suggestions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    padding-right: 100px;

    .suggestion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .suggestion-user-info {
        display: flex;
        // justify-content: center;
        align-items: center;
        gap: 15px;

        .suggestion-photo {
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .suggestion-user-name {
        display: flex;
        flex-direction: column;

        a {
            font-weight: 600;
        }

        span {
            color: #b2b2b2;
        }
    }

    .suggestion-switch {

        font-size: 12px;
        color: #0099ff;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            color: #00436f;
        }
    }

    .suggestion-options {
        display: flex;
        justify-content: space-between;
        align-content: space-between;

        span {
            color: #b2b2b2;
            font-weight: 600;
        }

        a {
            font-size: 12px;
            color: black;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                color: #838383;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        padding: 10px 0;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
    }

    .suggestion-profile {
        display: flex;
        gap: 10px;

        img {
            height: 32px;
            width: 32px;
            object-fit: cover;
            border-radius: 50%;
            cursor: pointer;
        }

        .suggestion-profile-info {
            display: flex;
            flex-direction: column;

            .suggestion-profile-name {
                font-weight: 600;
                font-size: 14px;
                cursor: pointer;
            }

            .suggestion-profile-followers {
                font-size: 12px;
                color: #838383;
            }
        }

    }

    .suggestion-profile-folow {
        color: #0099ff;
        cursor: pointer;

        &:hover {
            color: #00436f;
        }
    }




}

// STORY PREVIEW

.story-preview {
    display: flex;
    flex-direction: column;
    
    // justify-content: center;
    // align-items: center;


    .story-header {
        display: flex;
        height: 56px;
        padding: 6px;
        gap: 10px;
        align-items: center;
        background-color: #fff;
        border: 1px solid rgb(219, 219, 219);
        ;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        img {
            width: 42px;
            height: 42px;
            object-fit: cover;
            border-radius: 50%;
            cursor: pointer;
        }

        a {
            font-weight: 600;
            font-size: 14px;
        }
    }

    .story-img {
        object-fit: cover;
    }

    .story-footer {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid rgb(219, 219, 219);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0 10px;
        padding-bottom: 20px;
        font-size: 15px;
        gap: 7px;

        input {
            border: none;
            font-size: 14px;

            &:focus {
                outline: none;
    
            }
        }

    }

    .btn-container {
        display: flex;
        gap: 13px;
        // padding: 5px 0;

        a {
            font-size: 24px;
            padding: 5px 0px;
            cursor: pointer;
        }
    }

    .story-likes {
        font-weight: 600;
        cursor: pointer;
        // padding-bottom: 10px;
    }

    .story-user-name {
        font-weight: 600;
        cursor: pointer;

    }

    .story-text {
        padding-bottom: 10px;
    }

    .story-comments-view {
        color: #8e8e8e;
        cursor: pointer;
    }

    .hide {
        display: none;
    }


}