.contant-container {
    width: 100%;
    margin-left: 250px;
    background-color: #fafafa;
}

.contant {
    display: grid;
    grid-template-columns: 80% 20%;
    height: 100%;
    padding-top: 30px;

    .stories-list {

        margin: 0 auto;

        img {
            width: 300px;
        }

        .story-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            margin: 0 auto;
            gap: 50px;
        }
    }

    .suggestions {
        grid-area: "suggestions";
        background-color: rgba(184, 184, 184, 0.534);
    }
}

// STORY PREVIEW

.story-preview {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    
    
    .story-header {
        display: flex;
        height: 50px;
        padding: 5px;
        gap: 20px;
        align-items: center;
        background-color: #fff;
        border: 1px solid rgb(219, 219, 219);;
        border-top-left-radius:10px;
        border-top-right-radius:10px;

        img {
            width: 40px;
            border-radius: 50%;
        }
    }
    .story-footer{
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #fff;
        border: 1px solid rgb(219, 219, 219);;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
    }
}