.side-bar {
    // padding: 8px 12px 20px;
    display: grid;
    position: fixed;
    font-size: 16px;
    grid-template-rows: 80px 1fr 10px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 220px;
    border-right: 1px solid rgb(219, 219, 219);

    .icon {
        padding: 25px 12px 16px;
        width: 220px;
    }

    img{
        width: 103px;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .nav-btn {
        color: #262626;
        padding: 12px 12px;
        width: 220px;
        margin-top: 4px;
        margin-bottom: 4px;
        // border-radius: 25px;
        font-family: 'Segoe UI', sans-serif;
        text-decoration: none;
        display: flex;
        gap: 10px;
        align-items: center;

        .nav-icon {
            font-size: 22px;
            width: 30px;
            position: relative;
            // margin: auto 0;

            img {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        span {
            font-size: 16px;
        }

        &.active {
            color: black;
            font-weight: 700;
        }

        &:hover {
            background-color: #fafafa;
        }

    }

    .side-bar-more {
        padding: 0 15px;
        display: flex;
        gap: 10px;
        align-items: center;
        border-radius: 25px;
        font-family: 'Segoe UI', sans-serif;
        cursor: pointer;

        i {
            font-size: 22px;
            width: 30px;
        }

        span {
            font-size: 16px;
        }

    }

}