li {
    height: 55px;
    width: 55px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    img {
        height: 30px;
        width: 30px;
    }

    span {
        color: blue;
    }
}

.user-photo {
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}