///////// mobile//////

@include for-mobile-layout {

    .story-preview {
        display: flex;
        flex-direction: column;

        

        .story-img {
            max-height: 400px;
            object-fit:cover;
        }

        .story-footer {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 0 16px;
            padding-bottom: 20px;
            font-size: 15px;
            gap: 7px;
            border-bottom: 0.01px solid #c2c2c2;
            margin-bottom: 10px;

            //mobile input display none?

            input {
                border: none;
                font-size: 14px;

                &:focus {
                    outline: none;
                }
            }

            section {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            img {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                object-fit: cover;
            }

        }

        .btn-container {
            display: flex;
            gap: 13px;
            position: relative;

            a {
                font-size: 24px;
                padding: 5px 0px;
                cursor: pointer;
                color: black;

                .fa-solid.fa-heart {
                    color: #ed4956;
                }
            }

            .saved-btn {
                position: absolute;
                right: 0;
            }
        }

        .link {
            text-decoration: none;

        }

        .story-likes {
            font-weight: 600;
            cursor: pointer;
        }

        .story-user-name {
            font-weight: 600;
            cursor: pointer;

        }

        .story-text {
            padding-bottom: 10px;
        }

        .story-comments-view {
            color: #8e8e8e;
            cursor: pointer;
        }

        .hide {
            display: none;
        }

        .slick-slider {
            border-left: 1px solid rgb(219, 219, 219);
            border-right: 1px solid rgb(219, 219, 219);

            .slick-prev {
                z-index: 10;
                left: 10px;
                opacity: 0.4;
            }

            .slick-next {
                z-index: 10;
                right: 10px;
                opacity: 0.4;

            }

            .slick-dots {
                bottom: 10px;
            }

            .slick-dots li button:before {
                color: white;
            }

            .slick-list {
                margin-bottom: -5px;
            }
        }
    }

}

///////// normal //////
@include for-narrow-layout {
    .story-header {
        height: 56px;
        margin-top: 10px;
    }


}


///////// Wide //////////
@include for-wide-layout {
}