.story-details {
    display: flex;
    background-color: #595959;
    height: 100vh;
    padding: 50px;

    .image {

        img {
            width: 500px;
            height: 650px;
        }
    }
}

.details-comment {
    background-color: #ffffff;
    width: 500px;
    height: 650px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;

    img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .details-username {
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

    .details-header {
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding: 14px;
        border-bottom: 1px solid rgb(219, 219, 219);

        div {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        button {
            border: none;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0);
        }
    }
}

.comments-container {
    display: grid;
    grid-template-rows: 428px 110px 52px;

    .comments-list {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 34px;
        overflow: auto;
        // border-bottom: 1px solid rgb(219, 219, 219);
    }

    .comment {
        display: grid;
        grid-template-columns: 50px 1fr;

        .comment-footer {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .time {
            font-size: 12px;
            color: #a3a3a3;
        }

        svg {
            cursor: pointer;
            color: #a3a3a3;
            fill: #a3a3a3;

            &:hover {
                color: #454545;
                fill: #454545;
            }
        }

    }

    .btn-container {
        border-top: 1px solid rgb(219, 219, 219);
        display: flex;
        padding: 6px 16px;
        gap: 15px;

        a {
            font-size: 24px;
            cursor: pointer;
            color: black;
        }
    }

    .likes-time {
        padding: 5px 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        a {
            font-weight: 600;
            cursor: pointer;
            font-size: 14px;
        }

        span {
            font-size: 10px;
            color: #8e8e8e;
        }
    }

    .input-section {
        border-top: 1px solid rgb(219, 219, 219);
        height: 52px;
        width: 100%;
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        align-items: center;

        span {
            font-size: 24px;
            cursor: pointer;
            color: black;
            margin: auto;

        }

        .msg-input {
            border: none;
            width: 95%;

            &:focus {
                outline: none;
                background-color: rgba(255, 255, 255, 0);

            }
        }

        a {
            font-weight: 600;
            color: #b5dbff;

        }

        .active {
            cursor: pointer;
            color: #0084ff;

            &:hover {
                color: #00488a;
            }
        }

    }

}