.loading-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: inline-block;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #a6a6a6;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}